    @{
    ViewData["Title"] = "City_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddressBook1.Areas.LOC_City.Models.LOC_CityModel
<div class="row">
    <div class="col-md-12">
        <h4>@TempData["CityInsertMsg"]</h4>
        <form method="post" asp-controller="LOC_City" asp-action="save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.CityID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="form-group">
                <label><span class="text-danger">*</span>Country Name</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnOnStateChange();">
                    <option>Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>State Name</label>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option>Select State</option>
                </select>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>City Name</label>
                <input type="text" class="form-control" asp-for="CityName" placeholder="Enter City Name" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>City Code</label>
                <input type="nvarchar" class="form-control" asp-for="CityCode" placeholder="Enter City Code" />
                <span asp-validation-for="CityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>PhotoPath</label>
                <input type="file" class="form-control" asp-for="File" placeholder="Upload File" />
            </div>
            @*<div class="form-group">
                <label>Country ID</label>
                <input type="int" class="form-control" asp-for="CountryID" placeholder="Enter Country ID" />
            </div>*@
            @*<div class="form-group">
                <label>State ID</label>
                <input type="int" class="form-control" asp-for="StateID" placeholder="Enter State ID" />
            </div>*@
@*            <div class="form-group">
                <label>Creation Date</label>
                <input type="date" class="form-control" asp-for="CreationDate" />
            </div>
            <div class="form-group">
                <label>Modification Date</label>
                <input type="date" class="form-control" asp-for="ModificationDate" />
            </div>*@
            <hr />
            <div>
                <input type="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="LOC_City" asp-action="Index" class="btn btn-danger">Cancel</a>
</div>
@section Scripts{
    <script>
        function fnOnStateChange() {

            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        datatType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error While Loading Dropdown.");
                        }
                    });
            }
            else {
                $("StateID").empty();
                $("StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
    }